/**** Import ****/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower');


/**** Variable ****/
:root {
    --color-grey: #f5f5f5;
    --color-dark: #333333;
}


/**** Body ****/
body {
    scroll-behavior: smooth;
}


/**** Header ****/
#header {
    height: 100vh;
    background-image: url("../img/mushroom_Pizza_______u_2880x1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header > div.row {
    position: relative;
    top: 25%;
}

#header #logo {
    background-color: var(--color-grey);
    background-image: url("../img/chef.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 10rem;
    height: 10rem;
    border-radius: 5em;
    box-shadow: 2px 2px 2px var(--color-dark);
}

#header #titre-principale.h1 {
    font-size: 10em;
    font-family: "Indie Flower";
    font-weight: 600;
    margin: 0;
    text-shadow: 2px 2px 2px var(--color-dark);
}

#header > div + div.row {
    position: absolute;
    top: 70%;
    left: calc(50% - 20px);
}

.btn-floating,
.btn-floating:hover {
    background-color: var(--color-grey);
}

.btn-floating > i {
    color: var(--color-dark);
}



/**** Liste de recettes ****/
#recettes > ul {
    overflow: hidden;
}

#recettes > ul > li > .collection {
    margin-bottom: 5em;
}

/** Les images des recettes **/
#recettes header.row {
    height: 20em;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/** Le titre des recettes **/
#recettes h3 {
    margin: 0;
    padding: 0.5em 1em;
    color: var(--color-grey);
    background-color: #33333388;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/** Les ingredients **/
.liste-ingredients.col {
    margin: 0;
    height: 100%;
    padding: 1em;
}

.liste-ingredients > li {
    position: relative;
}

.liste-ingredients img {
    width: 2em;
    margin-right: 1em;
}

.liste-ingredients span.secondary-content {
    position: absolute;
    right: 1.5em;
    bottom: 0.5em;
    font-weight: bold;
    margin-left: 1em;
}

/** Les caracteristiques **/
.liste-ingredients + div.col {
    padding: 0 2.5em 1em 2em;
}

.caracteristiques th{
    text-align: center;
}

/** Les étapes de préparation **/
.etapes {
    padding: 0 1em;
}

.etapes > li + li {
    margin-top: 1em;
}




/**** Menu de navigation ****/
#menu {
    height: 100vh;
    position: sticky;
    top:0;
}

.collection {
    border: none;
    border-radius: 0;
}

.collection .collection-item {
    background-color: transparent;
}

.collection a.collection-item {
    color: var(--color-grey);
    border-left: 0.5em solid transparent;
}

.collection a.collection-item:not(.active):hover {
    background-color: transparent;
    border-color: var(--color-grey);
}



/**** Menu d'action ****/
.fixed-action-btn {
    z-index: 1000;
}

.fixed-action-btn > .btn-floating {
    background-image: url("../img/002-cook-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5em;
}



/**** Barre de recherche ****/
.search-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
}